#colorstripRefer {
    background-image: url(../../public/referral.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -22px;
    width: 100%; height: 300px;

}

#gift {
  margin-left: 300px;
  margin-top: 0px;
  width: 200px;
  height: 200px;
}

#giftLine1 {
  margin-top: -20px;
  margin-left: 300px;
}

#giftLine2 {
  margin-left: 300px;
}

#giftLine3 {
  margin-left: 300px;
}

.referralBox {
  border: 2px solid rgb(0,194,177);
  padding: 25px;
  margin-left: 700px;
  margin-top: -270px;
  width: 450px;
  height: 250px;
}
