.signup {
  margin-top: 80px;
}

.signup-panel {
  margin: auto;
  width: 60%;
}

.error-message {
  padding-left: 20px;
  color: red;
}

.freeTrialBG {
  background-image: url(../../public/freetrial.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -22px;
  width: 100%; height: 300px;
}
